<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>

<h1>Edit todo</h1>

<form action="#" th:action="@{edit}" th:object="${todo}" method="post">
    <label for="title">New todo description:</label>
    <input type="text" id="title" th:value="*{title}" name="title"/>
    <p>Is it urgent?<input type="checkbox" name="urgent" th:checked="*{urgent}"></p>
    <p>Is it done?<input type="checkbox" name="done" th:checked="*{done}"></p>
    <input type="submit" value="Press the button to modify"/>
    <a href="/">Back to main</a>
</form>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
