<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>

<h1 class="text-center">
    <a href="/">TODOs FOR TODAY</a>
</h1>

<div class="container">

    <div class="row">
        <div class="col-xs">

            <h4>
                <a role=button class="btn btn-primary" href="/add">Add new todo</a>
                <a role=button class="btn btn-primary" href="/">Home</a>
            </h4>

            <form action="#" th:action="@{search}" method="get">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for title..." name="title"/>
                </div>
            </form>

            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>TITLE</td>
                    <td class="fix-table-column">DONE</td>
                    <td class="fix-table-column">URGENT</td>
                    <td class="fix-table-column">DELETE</td>
                    <td class="fix-table-column">EDIT</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.getId()}"></td>
                    <td th:text="${todo.getTitle()}"></td>
                    <td class="fix-table-column">
                        <span th:class="${todo.isDone()} ? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-remove text-danger'"/>
                    </td>
                    <td class="fix-table-column">
                        <span th:class="${todo.isUrgent()} ? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-remove text-danger'"/>
                    </td>
                    <td class="fix-table-column">
                        <a th:href="'/' + ${todo.getId()} + '/delete'">delete</a>
                    </td>
                    <td class="fix-table-column">
                        <a th:href="'/' + ${todo.getId()} + '/edit'">edit</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
